.containerQuery{
    display: block;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 77%;
    height: 190px;
    left: 12%;
    top: 375px;

    border-radius: 114px;
}

.queryLabel{
    width: 233px;
    height: 92px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 92px;
}

.queryInput{
    /* Input */
    box-sizing: border-box;
    font-size: 32px;
    font-style: black;
    padding: 0 20px;

    height: 65px;

    background: #FFFFFF;
    border: 3px solid #393939;
    border-radius: 30px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

.buttonInput{
    margin: 0 3%;

    width: 100px;
    height: 60px;
    border-radius: 10px;
    background-color: #0026CA;
    /* Button Text */

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;


    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: white;

}

.queryButtonWrapper{
    justify-content: space-around;
}