.containerQuery{
    display: block;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;

    position: absolute;
    width: 77%;
    height: 190px;
    left: 12%;
    top: 375px;

    border-radius: 114px;
}

.queryLabel{
    height: 92px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 92px;
}

.queryInput{
    /* Input */
    box-sizing: border-box;
    font-size: 32px;
    font-style: black;
    padding: 0 20px;
    margin-bottom: 30px;

    height: 65px;

    background: #FFFFFF;
    border: 3px solid #393939;
    border-radius: 30px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

.buttonInput{
    margin: 0 4% 30px;

    width: 100px;
    height: 60px;
    border-radius: 10px;
    background-color: #0026CA;
    /* Button Text */

    font-family: 'Open Sans', sans-serif;
    font-style: bold;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;


    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: white;

}

.queryButtonWrapper{
    justify-content: space-around;
}

@media (max-width: 850px){
    .containerQuery{
        top: 345px;
    }
    .queryLabel{
        font-size: 36px;
    }
    .queryInput{
        font-size: 24px;
        height: 55px;
    }
    .buttonInput{
        font-size: 16px;
        height: 55px;
    }
}

@media (max-width: 715px){
    .containerQuery{
        top: 315px;
    }
    .queryLabel{
        font-size: 32px;
        line-height: 72px;
        left: 0%;
    }
    .queryInput{
        font-size: 22px;
        height: 45px;
    }
    .queryButtonWrapper{
        left:2%;
        right: 2%;
    }
    .buttonInput{
        font-size: 14px;
        height: 45px;
    }
}

@media (max-width: 540px){
    .containerQuery{
        top: 275px;
    }
    .queryLabel{
        font-size: 26px;
        line-height: 52px;
    }
    .queryInput{
        font-size: 20px;
    }
}

@media (max-width: 490px){
    .containerQuery{
        top: 260px;
    }
    .queryLabel{
        font-size: 24px;
        line-height: 48px;
    }
    .queryInput{
        font-size: 17px;
        height: 40px;
    }
    .buttonInput{
        height: 40px;
    }
}

@media (max-width: 440px){
    .containerQuery{
        top: 245px;
    }

    .queryLabel{
        font-size: 22px;
        line-height: 42px;
    }
    .queryInput{
        font-size: 14px;
    }
}

@media (max-width: 390px){
    .containerQuery{
        top: 230px;
    }
    .queryInput{
        font-size: 14px;
    }
}

@media (max-width: 374px){
    .containerQuery{
        top: 210px;
    }

    .queryInput{
        font-size: 12px;
    }
}

@media (max-width: 354px){
    .containerQuery{
        top: 190px;
    }
}