.containerHeader{
    box-sizing: border-box;

    width: 80%;
    height: 234px;
    left: 10%;
    right: 10%;
    top: 64px;

    background: linear-gradient(180deg, #c6c8f7 30.96%, rgba(182, 202, 254, 0) 100%);
    mix-blend-mode: multiply;
    border: 5px solid #242222;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.logoName {
    left: 23%;
    padding-top: 5.5%;
    letter-spacing: 0.04em;

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 92px;
    line-height: 132px;

    color: rgb(28, 39, 51);
}

/* Logo Image */

.logoImage {
    box-sizing: border-box;

    position: absolute;
    width: 672px;
    height: 240px;
    left: 0%;
    padding-top: 1%;

    background: url(image);
    mix-blend-mode: darken;
}

@media (max-width: 1720px){
    .logoImage{
        display:none;
    }
    .logoName{
        left: 0%;
    }
}

@media (max-width: 1024px){
    .logoName{
        padding-top: 7.5%;
    }
}

@media (max-width: 850px){
    .logoName{
        padding-top: 0%;
        font-size: 80px;
    }
    .containerHeader{
        background: white;
        box-shadow: inset 0px 0px 0px white;
        border-radius: 0px;
        border: 5px solid white;

        height: 180px;
        top: 64px
    }
}

@media (max-width: 715px){
    .logoName{
        font-size: 76px;
    }
    .containerHeader{
        top: 54px
    }
}

@media (max-width: 540px) {
    .logoName{
        font-size: 72px;
        letter-spacing: 0em;
    }
    .containerHeader{
        top: 44px
    }
}

@media (max-width: 490px){
    .logoName{
        font-size: 64px;
    }
    .containerHeader{
        top: 34px
    }
}

@media (max-width: 440px){
    .logoName{
        font-size: 56px;
    }
    .containerHeader{
        top: 24px
    }
}

@media (max-width: 374px){
    .logoName{
        font-size: 52px;
    }
    .containerHeader{
        top: 20px
    }
}

@media (max-width: 354px){
    .logoName{
        font-size: 48px;
    }
    .containerHeader{
        top: 10px
    }
}